{
    "bracketSpacing": true,
    "experimentalTernaries": true,
    "semi": true,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "plugins": [
        "prettier-plugin-tailwindcss",
        "prettier-plugin-organize-imports"
    ],
    "tailwindFunctions": [
        "clsx",
        "cn"
    ],
    "tailwindStylesheet": "resources/css/app.css",
    "overrides": [
        {
            "files": "*.vue",
            "options": {
                "parser": "vue"
            }
        },
        {
            "files": "**/*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}